*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: #cccccc;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  max-width: 360px;
  width: 100%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  text-wrap: wrap;
  word-break: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%; 
  overflow-x: auto;
}
h2{
  margin-bottom: 20px;
  margin-top: 20px;
}
input{
  background: none;
  width: 100%;
  font-size: 16px;
  border: 2px solid #ccc;
  padding: 10px 15px;
  border-radius: 18px;
  outline: none;
  color: #ccc;
}
input:focus{
  transform: scale(1.05);
}
button{
  padding: 8px 12px;
  background: #4F46E5;
  border: none;
  border-radius: 13px;
  color: #ccc;
  margin-bottom: 10px;
}
button:hover{
  background: none;
  border: 2px solid #4F46E5;
}
.processando{
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-left: 5px solid transparent;
  border-radius: 50%;
  background: none;
  animation: processar 1.5s infinite ease-in-out;
}
@keyframes processar{
  from{
    transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
}
#resultado{
  position: relative;
  padding: 0 15px;
  max-width: 360px;
  width: 90%;
  text-wrap: wrap;
}
.btn-copy {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 14px;
  color: #64748b;
  transition: 0.2s;
}

.btn-copy:hover {
  color: #4F46E5; /* Cor do seu botão quando passa o mouse */
}}
input:focus{
  transform: scale(1.05);
}
button{
  padding: 8px 12px;
  background: #4F46E5;
  border: none;
  border-radius: 13px;
  color: #ccc;
  margin-bottom: 10px;
}
button:hover{
  background: none;
  border: 2px solid #4F46E5;
}
.processando{
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-left: 5px solid transparent;
  border-radius: 50%;
  background: none;
  animation: processar 1.5s infinite ease-in-out;
}
@keyframes processar{
  from{
    transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
}
#resultado{
  padding: 0 15px;
  max-width: 360px;
  width: 90%;
  text-wrap: wrap;
}
