body{
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: #CCCCCC;
  height: 100vh;
  width: 100vw;
}
.container{
  height: 100vh;
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}
i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weigth: 800;
  background: #4F46E5;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  transform: rotate(90deg);
}
i:hover {
  transform: rotate(90deg) scale(1.1);
  background: #6366f1;
}
input{
  background: none;
  border: 2px solid #ccc;
  padding: 10px 15px;
  border-radius: 18px;
  outline: none;
  color: #ccc;
}
input:focus{
  transform: scale(1.1);
}
#chat{
  max-width: 340px;
  height: 80%;
  overflow: hidden;
}

